Flask==2.1.0
Flask-Cors==3.0.10 
gensim==3.8.3
nltk==3.7
numpy==1.22.3
pandas==1.4.1
pylint==2.7.1
pymongo==3.11.3
scikit-learn==0.24.1
scipy==1.8.0
tqdm==4.57.0
tweepy==3.10.0
redis==4.2.0
celery==5.2.3
spacy==3.2.3
click==8.0.4
